<div class="container-fluid px-0">
  <app-carousel-pause></app-carousel-pause>

  <section class="home-brand py-5">
    <p class="display-2 text-center pt-5 px-3">Baw Się Treningiem</p>
    <div class="container py-5">
      <div class="row m-0 align-items-center">
        <div class="col-md-6">
          <h3>Lorem, ipsum dolor.</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit fugit
            quas dolores sit quidem explicabo itaque. Quisquam modi placeat amet quasi perspiciatis quia
            autem cum recusandae, iure facere velit.
          </p>
        </div>
        <div class="col-md-6">
          <img src="assets/images/home1.png" alt="Runer" class="img-fluid">
          
        </div>
      </div>
    </div>


    <div class="container py-5">
      <div class="row m-0 align-items-center">
        <div class="col-md-6">
          <img src="assets/images/home2.png" alt="Joga" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h3>Lorem, ipsum dolor.</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit fugit
            quas dolores sit quidem explicabo itaque. Quisquam modi placeat amet quasi perspiciatis quia
            autem cum recusandae, iure facere velit.
          </p>
        </div>
      </div>
    </div>


    <div class="container py-5">
      <div class="row m-0 align-items-center">
        <div class="col-md-6">
          <h3>Lorem, ipsum dolor.</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit fugit
            quas dolores sit quidem explicabo itaque. Quisquam modi placeat amet quasi perspiciatis quia
            autem cum recusandae, iure facere velit.
          </p>
        </div>
        <div class="col-md-6">
          <img src="assets/images/home3.png" alt="Bike" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
</div>

