 <header >
   <nav class="navbar h-1 navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom">
     <div class="container">
       <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.jpg" width="83" height="52"></a>


       <button class="navbar-toggler order-first border-none"
               type="button"
               data-toggle="collapse"
               data-target="#mainmenu"
               aria-label="Toggle navigation"
               [attr.aria-expanded]="isExpanded"
               (click)="toggle()">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="navbar-collapse collapse justify-content-sm-center d-sm-inline-flex flex-sm-row-reverse" id="mainmenu"
            [ngClass]="{ show: isExpanded }">
         <ul class="navbar-nav d-flex flex-grow">
           <li class="nav-item"
               [routerLinkActive]="['link-active']"
               [routerLinkActiveOptions]="{ exact: true }">
             <a class="nav-link text-dark" [routerLink]="['/']">STRONA GŁÓWNA</a>
           </li>
           <li class="nav-item" [routerLinkActive]="['link-active']">
             <a class="nav-link text-dark" [routerLink]="['/counter']">MOBILITY</a>
           </li>
           <li class="nav-item" [routerLinkActive]="['link-active']">
             <a class="nav-link text-dark" [routerLink]="['/fetch-data']">PLANER</a>
           </li>
           <!--<li class="nav-item" [routerLinkActive]="['link-active']">
             <a class="nav-link text-dark" [routerLink]="['/about-us']">O NAS</a>
           </li>-->
           <li class="nav-item">
             <a class="nav-link text-dark" href="#list-item-1">O NAS</a>
           </li>
           <li class="ml-5">
             <a [routerLink]="['/account']"><i class="far fa-user" style="font-size:2rem;"></i></a>
           </li>
         </ul>
       </div>


     </div>
     
   </nav>
</header>
